header{

background: #517fa4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #517fa4 , #243949); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #517fa4 , #243949); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

nav#mainNav{
background: #517fa4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #517fa4 , #243949); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #517fa4 , #243949); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.transparent{
    background-color: rgba(66, 52, 35, 0.00);
    border-color: rgba(66, 52, 35, 0.00);
}
.rounded-border{
    border-radius: 10;
}

.gothic { 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
.pad-10-v{
    padding: 0px 10px 0px 10px;
}
.segoe { 
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}
