.lucon {
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  color: black;
}

.lucon-huge {
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 30;
  color: black;
}
.lucon-big {
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 22;
  color: black;
}
.lucon-medium {
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 15;
  color: black;
}

.lucon-small {
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 12;
  color: black;
}
.lucon-xsmall {
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 4;
  color: black;
}
a{
  color: #0b027b;
}

.cloud{
background: #ECE9E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.animate{background: linear-gradient(222deg, #616564, #39504b, #858383);
background-size: 600% 600%;

-webkit-animation: AnimationName 3s ease infinite;
-moz-animation: AnimationName 3s ease infinite;
animation: AnimationName 3s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@keyframes AnimationName { 
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
}
.mango{
background: #F09819; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F09819 , #EDDE5D); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F09819 , #EDDE5D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bora{
  background: #2BC0E4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.midnight{
background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.sea{
  background: #4CB8C4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4CB8C4 , #3CD3AD); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4CB8C4 , #3CD3AD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sunny{
  background: #EDE574; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EDE574 , #E1F5C4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EDE574 , #E1F5C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.noon{
  background: #ff6e7f; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ff6e7f , #bfe9ff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ff6e7f , #bfe9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.transparent{
  background: rgba(0, 0, 0, 0);
}
.bold {
    font-weight: bold;
}

.glass{
  background: rgba(4, 4, 4, 0.12);
}

nav.fixed-nav-bar.lucon-huge.is-Dark.transparent{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}

.image-cropper {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.card{
  margin: 30px 10px 30px 10px;
  border-radius: 15px;
}
.radius{
border-radius: 15px;
}
.skill-level:not(:last-child) {
    margin-bottom: 60px;
}